#livesearch_search_results {
        margin:0px;
        padding:5px !important;
        position: absolute;
        top:39px;
        left: 0px;
        background-color: #fff;
		box-shadow:0px 5px 13px rgba(0,0,0,0.13);
		-moz-box-shadow:0px 5px 13px rgba(0,0,0,0.13);
		-webkit-box-shadow:0px 5px 13px rgba(0,0,0,0.13);
        border:1px solid #EFEFEF;
        list-style-type: none;
        z-index: 12;
        width:198px;
}
#livesearch_search_results li {
    padding: 0px;
	overflow:hidden;
}
#livesearch_search_results a,
#livesearch_search_results a:visited,
#livesearch_search_results a:hover {
	color: #755f54;
    text-decoration: none;
    font-size:12px;
    }
#livesearch_search_results a {
	display:block; padding:5px;	float:left;
    color:#755f54;
    width:100%;
}
#livesearch_search_results a:hover {
    color: #fff;
}
#livesearch_search_results li:hover {
    background-color: #333333;
}
#livesearch_search_results .highlighted a {color:#fff}
#livesearch_search_results .highlighted {
    background-color: #333333;
}
#livesearch_search_results li img {
	overflow:hidden;
	float:left;
	margin-right:10px;
}
#livesearch_search_results li img.loading {
	background:#f5f5f5;	
}
